@font-face {
  font-family: "Young-Serif";
  src: url(./assets/fonts/young-serif/YoungSerif-Regular.ttf);
}
@font-face {
  font-family: "outfit";
  src: url(./assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: hsl(330, 100%, 98%);
  display: flex;
  justify-content: center;
  align-items: center;

  /* min-height: 100vh; */
  margin-top: 7.6875rem;
  margin-bottom: 7.6875rem;
  /* padding: 6rem; */
}
.main-container {
  background-color: white;
  color: black;
  /* max-width: 43rem; */

  max-width: 45.94rem;
  font-family: "outfit";
  /* padding: 2.5rem; */
  border-radius: 1.5rem;
}
img {
  max-width: 45rem;
  /* max-width: 100%; */
  border-radius: 1.5rem;
  padding: 2rem;
}
.title {
  padding: 0px;
  line-height: 0%;
  font-weight: 400;
  font-size: 2.2rem;
  text-indent: 1rem;
  margin-top: 2.5rem;
  margin-bottom: 1.375rem;
  font-family: "Young-Serif";
}

.description {
  align-self: stretch;

  padding: 1.2rem;
  font-family: "outfit";
  font-size: 1rem;
  font-weight: 400;
  line-height: 110%;
  color: hsl(40, 3%, 36%);
}
.preparation {
  background-color: hsl(330, 100%, 98%);
  height: 12rem;
  border-radius: 1rem;
  margin: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.preparation-time {
  color: hsl(332, 51%, 32%);
  padding: 1.5rem;
  line-height: 50%;
}
.time-duration {
  margin: 1rem;
}
.recipe {
  color: hsl(14, 45%, 36%);
  font-weight: 600;
  padding: 1.4rem;
  line-height: 1%;
}
table {
  width: 100%;
  line-height: 1.4%;
  border-collapse: collapse;
}

.line {
  border-bottom: 1px solid rgb(225, 213, 213);
  margin: 2.4rem;
}
li {
  padding: 0.3rem;
}

.table-row {
  margin: 1.4rem;
  display: flex;
  align-items: center;
  line-height: 0.5%;
  max-width: 80%;
  justify-content: space-between;
  border-bottom: 1px solid rgb(225, 219, 219);
}
.info {
  padding: 0.8rem;

  color: rgb(135, 128, 128);
}

.data {
  font-weight: 600;
  padding: 1.4rem;
  color: hsl(14, 45%, 36%);
}
.ingredients-section {
  color: hsl(30, 10%, 34%);
  font-family: "Outfit", sans-serif;
}
.ingredients-section > ul {
  margin-top: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.ingredients-section > ul > li {
  color: hsl(14, 45%, 36%);
  font-size: 0.8rem;
  line-height: 2rem;
  padding-left: 1.1rem;
  font-family: "Outfit", sans-serif;
}
.itemlist {
  font-size: 1rem;
  font-family: "Outfit", sans-serif;
  color: hsl(30, 10%, 34%);
}
.instructions-section {
  color: hsl(30, 10%, 34%);
  font-family: "Outfit", sans-serif;
}
.instructions-section > ol {
  margin-top: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.instructions-section > ol > li {
  color: hsl(14, 45%, 36%);
  font-size: 0.8rem;
  padding-left: 1.1rem;
  line-height: 2rem;

  font-family: "Outfit", sans-serif;
}
.nutrition-section {
  margin-top: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.liinstruction {
  font-size: 1rem;

  font-family: "Outfit", sans-serif;
  color: hsl(30, 10%, 34%);
}
/* Responsive screen media  */

@media only screen and (max-width: 700px) {
  body {
    background-color: white;
    margin: auto;
    /* padding-bottom: 2rem; */
  }
  .main-container {
    margin: 0;

    padding: 10px 0 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 0px;
  }

  .main-container > .image-omelette {
    width: 100%;

    border-radius: 0;
  }

  .title {
    font-size: 1.5rem;
    font-weight: 400;
    padding: 0.2rem;
    line-height: 32px;
    padding-left: 4.5rem;
    padding-right: 4.5rem;
    text-align: left;
    font-family: "Young-Serif";
  }
  .description {
    padding: 0.2rem;
    /* line-height: 32px; */
    margin: 20px;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
  .preparation {
    padding: 0.2rem;
    line-height: 130%;
    padding-left: 4.5rem;
    padding-right: 4.5rem;
    height: 16rem;
    margin: 15px;

    border-radius: 5px;
  }
  .preparation-time {
    line-height: 120%;
  }

  .heading-section,
  .ingredients-section,
  .instructions-section,
  .nutrition-section {
    padding-left: 4.5rem;
    margin: 10px 10px;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-right: 4.5rem;
  }
}
@media only screen and (max-width: 800px) {
  .main-container {
    width: 100%;
    overflow: hidden;
    margin: 0px auto;
    padding-left: 4.5rem;
    padding-right: 4rem;
  }
  .description {
    margin: 10px;
    padding: 10px;
  }
}

@media only screen and (max-width: 375px) {
  .main-container {
    width: 100%;
    margin: auto;
  }
  .description {
    margin: 10px;
    padding: 4rem;
  }
  .image-omelette {
    width: 400px;
  }
}
